body{
    background-image: url('sad.jpg');

}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
    color: white;
    opacity: 75%;
    font-size: 200px;
}
